body {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: right;
    gap: 20em;
}

input {
    margin: 1em;
    padding: 1px;
}

h3 {
    color: bisque;
}
#cards-container{
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
    


}

#poke-card{
    border: 1px,solid,black;
    margin:5px;
    width: 230px;
    height: 300px;
    background-color: orange;
}

.details{
    height: 100px;
    overflow: auto;


}
#div_btn {
    justify-content: center;
    gap:5em;
}

.buttons {
    margin: 60px;
    color:brown;

}